MYSQL_DATABASE=vocal_chat
MYSQL_ROOT_PASSWORD=change_me
MYSQL_USER=root

REDIS_PASSWORD=change_me

# --- 以下为开发环境共享密钥，生产环境请通过云平台注入新密钥 ---
JWT_SECRET=sRS+NJO7b3a+orL47CLP+eEu53myisR5s33BNaqcmfU=

# JWT_EXPIRATION 单位毫秒，3600000 = 1小时
JWT_EXPIRATION=3600000

MINIO_ACCESS_KEY=change_me
MINIO_SECRET_KEY=change_me